main {
  height: 500px;
}

main h1 {
  font: 700 45px "Nunito", sans-serif;
  margin-block: 50px;
  text-align: center;
  color: var(--primary-color);
}

main p {
  margin-block: 10px;
}

main a {
  color: var(--primary-color);
  font-weight: 700;
}

main b {
  font-weight: 700;
}