main {
  margin-bottom: 50px;
}

main .facade_img,
main .lobby_img {
  width: 100%;
  margin-block: 50px;
}

main :is(h1, h2) {
  font: 700 45px "Nunito", sans-serif;
  margin-block: 20px;
  color: var(--primary-color);
}

main p {
  padding-block: 10px;
  text-align: justify;
}

.galery_temp {
  width: 100%;
}
