.department-img {
  width: 100%;
  margin-block: 30px;
}

main {
  margin-bottom: 50px;
}

.news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}

.news a img {
  width: 100%;
  aspect-ratio: 16/11;
}

.news a h2 {
  font: 800 21px "Nunito", sans-serif;
  margin-block: 30px;
}

.news a p {
  text-align: justify;
}