main {
  margin-bottom: 50px;
}

main h1 {
  font: 700 45px "Nunito", sans-serif;
  margin-block: 50px;
  color: var(--primary-color);
}

main h2 {
  color: #093176;
  font-weight: 700;
  font-size: 21px;
  margin-block: 20px;
}

main ul {
  list-style-type: disc;
  margin-block: 1em;
  padding-inline-start: 40px;
}

main a:hover {
  color: var(--primary-color);
}
